NET "ram_addr[0]" LOC = C17;
NET "ram_addr[1]" LOC = C18;
NET "ram_addr[2]" LOC = D16;
NET "ram_addr[3]" LOC = D17;
NET "ram_addr[4]" LOC = E15;
NET "ram_addr[5]" LOC = E16;
NET "ram_addr[6]" LOC = F14;
NET "ram_addr[7]" LOC = F15;
NET "ram_addr[8]" LOC = F17;
NET "ram_addr[9]" LOC = F18;
NET "ram_addr[10]" LOC = G13;
NET "ram_addr[11]" LOC = G14;
NET "ram_addr[12]" LOC = G15;
NET "ram_addr[13]" LOC = G16;
NET "ram_addr[13]" LOC = G16;
NET "ram_addr[14]" LOC = H14;
NET "ram_addr[15]" LOC = H15;
NET "ram_addr[16]" LOC = H16;
NET "ram_addr[17]" LOC = H17;

#NET "ram_addr2[1]" LOC = N15;
#NET "ram_addr2[3]" LOC = P16;
#NET "ram_addr2[2]" LOC = N18;
#NET "ram_addr2[4]" LOC = P17;
#NET "ram_addr2[5]" LOC = P18;
#NET "ram_addr2[6]" LOC = R15;
#NET "ram_addr2[8]" LOC = R18;
#NET "ram_addr2[0]" LOC = N14;
#NET "ram_addr2[7]" LOC = R16;
#NET "ram_addr2[9]" LOC = T17;
#NET "ram_addr2[10]" LOC = T18;
#NET "ram_addr2[11]" LOC = U18;
#NET "ram_addr2[12]" LOC = V15;
#NET "ram_addr2[13]" LOC = V13;
#NET "ram_addr2[14]" LOC = V12;
#NET "ram_addr2[15]" LOC = V9;
#NET "ram_addr2[16]" LOC = U16;
#NET "ram_addr2[17]" LOC = U15;
NET "ram_data[0]" LOC = J12;
NET "ram_data[1]" LOC = J13;
NET "ram_data[2]" LOC = J14;
NET "ram_data[3]" LOC = J15;
NET "ram_data[4]" LOC = J16;
NET "ram_data[5]" LOC = J17;
NET "ram_data[6]" LOC = K12;
NET "ram_data[7]" LOC = K13;
NET "ram_data[8]" LOC = K14;
NET "ram_data[9]" LOC = K15;
NET "ram_data[10]" LOC = L15;
NET "ram_data[11]" LOC = L16;
NET "ram_data[12]" LOC = L17;
NET "ram_data[13]" LOC = L18;
NET "ram_data[14]" LOC = M13;
NET "ram_data[15]" LOC = M14;
#NET "ram_data2[0]" LOC = U13;
#NET "ram_data2[1]" LOC = T16;
#NET "ram_data2[2]" LOC = T15;
#NET "ram_data2[3]" LOC = T14;
#NET "ram_data2[4]" LOC = T12;
#NET "ram_data2[5]" LOC = R13;
#NET "ram_data2[6]" LOC = R14;
#NET "ram_data2[7]" LOC = R12;
#NET "ram_data2[8]" LOC = R11;
#NET "ram_data2[9]" LOC = R10;
#NET "ram_data2[10]" LOC = P13;
#NET "ram_data2[11]" LOC = P12;
#NET "ram_data2[12]" LOC = P11;
#NET "ram_data2[14]" LOC = N12;
#NET "ram_data2[15]" LOC = N11;
#NET "seg_l[3]" LOC = F7;
#NET "seg_l[4]" LOC = A8;
#NET "seg_l[5]" LOC = E8;
#NET "seg_l[6]" LOC = F8;
#NET "seg_l[1]" LOC = D7;
#NET "seg_l[0]" LOC = C7;
#NET "seg_l[2]" LOC = E7;
#NET "seg_r[0]" LOC = C9;
#NET "seg_r[1]" LOC = D9;
#NET "seg_r[2]" LOC = E9;
#NET "seg_r[3]" LOC = F9;
#NET "seg_r[4]" LOC = G9;
#NET "seg_r[5]" LOC = A10;
#NET "seg_r[6]" LOC = B10;
#NET "ram1_en" LOC = M15;
#NET "ram2_oe" LOC = R9;
#NET "ram1_rw" LOC = M18;
#NET "ram2_en" LOC = N10;
#NET "ram1_oe" LOC = M16;
NET "rst" LOC = U10;
NET "clk" LOC = B9;
#NET "clk0" LOC = U9;
NET "ram_oe" LOC = M16;
NET "ram_rw" LOC = M18;
NET "ram_en" LOC = M15;
#NET "MemRead" LOC = U14;
#NET "MemWrite" LOC = V14;
#NET "sw[0]" LOC = J6;
#NET "sw[1]" LOC = J7;
#NET "sw[2]" LOC = K2;
#NET "sw[3]" LOC = K7;
#NET "sw[4]" LOC = M1;
#NET "sw[5]" LOC = N1;
#NET "sw[6]" LOC = N2;
#NET "sw[7]" LOC = R1;
#NET "sw[8]" LOC = R4;
#NET "sw[9]" LOC = U1;
#NET "sw[10]" LOC = V2;
#NET "sw[11]" LOC = V3;
#NET "sw[12]" LOC = V4;
#NET "sw[13]" LOC = U8;
#NET "sw[14]" LOC = R7;
#NET "sw[15]" LOC = T7;